In [25]:
import yfinance as yf
import pandas_datareader.data as pdr
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
yf.pdr_override()

In [26]:
start = datetime.datetime(2006, 1, 1)
end = datetime.datetime(2016, 1, 1)

In [27]:
BAC = pdr.get_data_yahoo('BAC', data_source='yahoo', start=start, end=end)
C =   pdr.get_data_yahoo('C',   data_source='yahoo', start=start, end=end)
GS =  pdr.get_data_yahoo('GS',  data_source='yahoo', start=start, end=end)
JPM = pdr.get_data_yahoo('JPM', data_source='yahoo', start=start, end=end)
MS =  pdr.get_data_yahoo('MS',  data_source='yahoo', start=start, end=end)
WFC = pdr.get_data_yahoo('WFC', data_source='yahoo', start=start, end=end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [19]:
tickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']
bank_stocks = pd.concat([BAC, C, GS, JPM, MS, WFC], axis=1,keys=tickers)
bank_stocks.columns.names = ['Bank Ticker','Stock Info']

In [33]:
bank_stocks

Bank Ticker        BAC                                                        \
Stock Info        Open       High        Low      Close  Adj Close    Volume
Date
2006-01-03   46.919998  47.180000  46.150002  47.080002  34.106041  16296700
2006-01-04   47.000000  47.240002  46.450001  46.580002  33.743816  17757900
2006-01-05   46.580002  46.830002  46.320000  46.639999  33.787266  14970700
2006-01-06   46.799999  46.910000  46.349998  46.570000  33.736572  12599800
2006-01-09   46.720001  46.970001  46.360001  46.599998  33.758297  15619400
...                ...        ...        ...        ...        ...       ...
2015-12-24   17.320000  17.379999  17.219999  17.270000  15.430058  29369400
2015-12-28   17.219999  17.230000  16.980000  17.129999  15.304976  41777500
2015-12-29   17.250000  17.350000  17.160000  17.280001  15.438995  45670400
2015-12-30   17.200001  17.240000  17.040001  17.049999  15.233494  35066400
2015-12-31   17.010000  17.070000  16.830000  16.830000  15.036935  47153000

Bank Ticker           C                                      ...         MS  \
Stock Info         Open        High         Low       Close  ...        Low
Date                                                         ...
2006-01-03   490.000000  493.799988  481.100006  492.899994  ...  56.740002
2006-01-04   488.600006  491.000000  483.500000  483.799988  ...  58.349998
2006-01-05   484.399994  487.799988  484.000000  486.200012  ...  58.020000
2006-01-06   488.799988  489.000000  482.000000  486.200012  ...  58.049999
2006-01-09   486.000000  487.399994  483.000000  483.899994  ...  58.619999
...                 ...         ...         ...         ...  ...        ...
2015-12-24    52.480000   52.970001   52.450001   52.709999  ...  32.439999
2015-12-28    52.570000   52.570000   51.959999   52.380001  ...  31.950001
2015-12-29    52.759998   53.220001   52.740002   52.980000  ...  32.330002
2015-12-30    52.840000   52.939999   52.250000   52.299999  ...  32.200001
2015-12-31    52.070000   52.389999   51.750000   51.750000  ...  31.770000

Bank Ticker                                       WFC                        \
Stock Info       Close  Adj Close   Volume       Open       High        Low
Date
2006-01-03   58.310001  36.364140  5377000  31.600000  31.975000  31.195000
2006-01-04   58.349998  36.389069  7977800  31.799999  31.820000  31.365000
2006-01-05   58.509998  36.488869  5778000  31.500000  31.555000  31.309999
2006-01-06   58.570000  36.526283  6889800  31.580000  31.775000  31.385000
2006-01-09   59.189999  36.912933  4144500  31.674999  31.825001  31.555000
...                ...        ...      ...        ...        ...        ...
2015-12-24   32.480000  28.227333  2798200  54.970001  55.090000  54.709999
2015-12-28   32.169998  27.957930  5420300  54.549999  54.779999  54.169998
2015-12-29   32.549999  28.288172  6388200  55.110001  55.349998  54.990002
2015-12-30   32.230000  28.010065  5057200  55.270000  55.310001  54.790001
2015-12-31   31.809999  27.645065  8154300  54.509998  54.950001  54.220001

Bank Ticker
Stock Info       Close  Adj Close    Volume
Date
2006-01-03   31.900000  20.523809  11016400
2006-01-04   31.530001  20.285755  10870000
2006-01-05   31.495001  20.263241  10158000
2006-01-06   31.680000  20.382265   8403800
2006-01-09   31.674999  20.379047   5619600
...                ...        ...       ...
2015-12-24   54.820000  45.933815   4999400
2015-12-28   54.680000  45.816509   8288800
2015-12-29   55.290001  46.327637   7894900
2015-12-30   54.889999  45.992474   8016900
2015-12-31   54.360001  45.548393  10929800

[2517 rows x 36 columns]